.SnippetCard {
    color: #21252B;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: rgb(52, 52, 52);
    border: 0.1px solid #d7dae060;
    -webkit-transition: visibility 0s 0.3s;
    transition: visibility 0s 0.3s;
    position: relative
}

.SnippetCard:not(:last-child) {
    margin-bottom: 25px
}

.SnippetCard.invisible {
    visibility: hidden;
    -webkit-transition-delay: 0s;
    transition-delay: 0s
}

.SnippetCard:not(.magnified) {
    -webkit-animation: fromBottom 0.2s backwards;
    animation: fromBottom 0.2s backwards
}

.SnippetCard:not(.magnified):nth-of-type(1) {
    -webkit-animation-delay: 50ms;
    animation-delay: 50ms
}

.SnippetCard:not(.magnified):nth-of-type(2) {
    -webkit-animation-delay: 100ms;
    animation-delay: 100ms
}

.SnippetCard:not(.magnified):nth-of-type(3) {
    -webkit-animation-delay: 150ms;
    animation-delay: 150ms
}

.SnippetCard:not(.magnified):nth-of-type(4) {
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms
}

.SnippetCard:not(.magnified):nth-of-type(5) {
    -webkit-animation-delay: 250ms;
    animation-delay: 250ms
}

.SnippetCard:not(.magnified):nth-of-type(6) {
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms
}

.SnippetCard:not(.magnified):not(:hover) .SnippetActions {
    opacity: 0;
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px)
}

.SnippetCard.magnified {
    color: #21252B;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #D7DAE0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    z-index: 101;
    box-shadow: 0 12px 80px rgba(0,0,0,0.1)
}

.SnippetCard.magnified.entered .SnippetCardHeader h4 {
    font-size: 1.8rem;
    margin-top: 0
}

@media only screen and (min-width: 1720px) {
    .SnippetCard.magnified.entered .SnippetCardHeader h4 {
        font-size:2rem
    }

    .SnippetCard.magnified.entered .SnippetCardHeader .source {
        margin-top: 2px
    }
}

.SnippetCard.magnified.entered .SnippetCode pre {
    font-size: 1.4rem
}

@media only screen and (min-width: 1720px) {
    .SnippetCard.magnified.entered .SnippetCode pre {
        font-size:1.5em
    }
}

.SnippetCard.magnified .SnippetCode {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-height: 0
}

.SnippetCard.magnified .SnippetCode .SnippetCode-wrapper {
    min-height: 0;
    height: 100%;
    overflow-y: auto
}

.SnippetCard.magnified .SnippetCode .SnippetCode-wrapper::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    cursor: default;
    background-color: #484848
}

.SnippetCard.magnified .SnippetCode .SnippetCode-wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.12);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-clip: padding-box;
    border: 1px solid transparent;
    visibility: hidden
}

.SnippetCard.magnified .SnippetCode .SnippetCode-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,0.18)
}

.SnippetCard.magnified .SnippetCode .SnippetCode-wrapper:hover::-webkit-scrollbar-thumb {
    visibility: visible
}

.ReviewCard {
    padding: 7px;
    margin-bottom: 20px;
    font-family: "Pontano Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 1.35rem
}

.ReviewCard .ReviewHeader {
    white-space: nowrap;
    -webkit-animation: scaleIn 0.2s;
    animation: scaleIn 0.2s;
    display: inline-block
}

.ReviewCard .ReviewHeader .avatar,.ReviewCard .ReviewHeader .label {
    display: inline-block;
    vertical-align: middle
}

.ReviewCard .ReviewHeader .UserThumbnail {
    margin-right: 7px
}

.ReviewCard .ReviewHeader .UserThumbnail .BGImg {
    width: 26px;
    height: 26px
}

.ReviewCard .ReviewHeader .label {
    font-family: "Pontano Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 1.2rem
}

.ReviewCard .ReviewHeader .Icon {
    font-size: 2.2rem;
    text-align: right;
    cursor: pointer;
    padding: 1px 8px;
    position: absolute;
    right: 6px
}

.ReviewCard .ReviewComment {
    padding: 5px 5px 2px
}

.ReviewCard .ReviewedSnippet {
    padding-top: 6px
}

.ReviewCard .ReviewedSnippet .SnippetCard {
    margin-bottom: 0
}

.ReviewCard .ReviewedSnippet .SnippetCard>article {
    border: 1px solid
}

.ReviewCard .ReviewedSnippet .SnippetCard .SnippetActions {
    margin-left: -1px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid
}

.SnippetCode .SnippetCode-wrapper {
    padding: 12px 8px 5px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-transition: padding-bottom 0.2s;
    transition: padding-bottom 0.2s
}

.SnippetCode .SnippetCode-wrapper.right-buffer:after {
    content: '';
    padding: 5px
}

.SnippetCode .SnippetCode-wrapper::-webkit-scrollbar {
    height: 12px
}

.SnippetCode .SnippetCode-wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.08);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    visibility: hidden;
    background-clip: padding-box;
    border: 3px solid transparent
}

.SnippetCode .SnippetCode-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,0.13)
}

.SnippetCode .SnippetCode-wrapper:hover::-webkit-scrollbar-thumb,.SnippetCode .SnippetCode-wrapper.visible::-webkit-scrollbar-thumb {
    visibility: visible
}

@media only screen and (min-width: 1720px) {
    .SnippetCode .SnippetCode-wrapper {
        padding:15px 10px 5px
    }
}

.SnippetCode .SnippetCode-wrapper pre {
    font-family: "Menlo",Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.45;
    -webkit-transition: font-size 0.3s;
    transition: font-size 0.3s
}

@media only screen and (min-width: 1720px) {
    .SnippetCode .SnippetCode-wrapper pre {
        font-size:1.4rem
    }
}

.SnippetCode .SnippetCode-wrapper pre>span {
    display: block
}

.SnippetCode .SnippetCode-wrapper .PredictionHint,.SnippetCode .SnippetCode-wrapper .code-tag {
    padding: 1px 2px;
    cursor: pointer
}

.SnippetCode .SnippetCode-wrapper .PredictionHint:hover,.SnippetCode .SnippetCode-wrapper .PredictionHint.active,.SnippetCode .SnippetCode-wrapper .code-tag:hover,.SnippetCode .SnippetCode-wrapper .code-tag.active {
    -webkit-border-radius: 2px;
    border-radius: 2px
}

.SnippetCode .SnippetCode-wrapper .PredictionHint {
    border-bottom: 1px solid transparent
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-1 {
    border-bottom-color: #55A8DD
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-1:hover,.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-1.active {
    background-color: #55A8DD;
    color: #fff;
    border-bottom-color: transparent
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-2 {
    border-bottom-color: #DC70B8
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-2:hover,.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-2.active {
    background-color: #DC70B8;
    color: #fff;
    border-bottom-color: transparent
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-3 {
    border-bottom-color: #905BCA
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-3:hover,.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-3.active {
    background-color: #905BCA;
    color: #fff;
    border-bottom-color: transparent
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-4 {
    border-bottom-color: #8BC2AE
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-4:hover,.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-4.active {
    background-color: #8BC2AE;
    color: #fff;
    border-bottom-color: transparent
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-5 {
    border-bottom-color: #E4AF61
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-5:hover,.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-5.active {
    background-color: #E4AF61;
    color: #fff;
    border-bottom-color: transparent
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-6 {
    border-bottom-color: #7A84D6
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-6:hover,.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-6.active {
    background-color: #7A84D6;
    color: #fff;
    border-bottom-color: transparent
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-7 {
    border-bottom-color: #8BBCC2
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-7:hover,.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-7.active {
    background-color: #8BBCC2;
    color: #fff;
    border-bottom-color: transparent
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-8 {
    border-bottom-color: #55A8DD
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-8:hover,.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-8.active {
    background-color: #55A8DD;
    color: #fff;
    border-bottom-color: transparent
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-9 {
    border-bottom-color: #DC70B8
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-9:hover,.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-9.active {
    background-color: #DC70B8;
    color: #fff;
    border-bottom-color: transparent
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-10 {
    border-bottom-color: #905BCA
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-10:hover,.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-10.active {
    background-color: #905BCA;
    color: #fff;
    border-bottom-color: transparent
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-11 {
    border-bottom-color: #8BC2AE
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-11:hover,.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-11.active {
    background-color: #8BC2AE;
    color: #fff;
    border-bottom-color: transparent
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-12 {
    border-bottom-color: #E4AF61
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-12:hover,.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-12.active {
    background-color: #E4AF61;
    color: #fff;
    border-bottom-color: transparent
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-13 {
    border-bottom-color: #7A84D6
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-13:hover,.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-13.active {
    background-color: #7A84D6;
    color: #fff;
    border-bottom-color: transparent
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-14 {
    border-bottom-color: #8BBCC2
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-14:hover,.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-14.active {
    background-color: #8BBCC2;
    color: #fff;
    border-bottom-color: transparent
}

.SnippetCode .SnippetCode-wrapper .code-tag {
    font-weight: 600
}

.SnippetCode .SnippetCode-wrapper .context-related {
    font-weight: normal;
    text-decoration: underline
}

.SnippetCode .SnippetCode-wrapper .focal,.SnippetCode .SnippetCode-wrapper .must {
    color: #21252B;
    font-weight: bold
}

.SnippetCode .SnippetCode-wrapper .focal:hover,.SnippetCode .SnippetCode-wrapper .focal.active,.SnippetCode .SnippetCode-wrapper .must:hover,.SnippetCode .SnippetCode-wrapper .must.active {
    background: rgba(80,91,228,0.15)
}

.SnippetCode .SnippetCode-wrapper .focal-related,.SnippetCode .SnippetCode-wrapper .context {
    color: #6B727E
}

.SnippetCode .SnippetCode-wrapper .focal-related:hover,.SnippetCode .SnippetCode-wrapper .focal-related.active,.SnippetCode .SnippetCode-wrapper .context:hover,.SnippetCode .SnippetCode-wrapper .context.active {
    background: rgba(80,91,228,0.15)
}

.SnippetCode .SnippetCode-wrapper .code-filler {
    display: table;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    cursor: pointer;
    margin: 1px 3px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    line-height: 1;
    background-color: #F3F4F6;
    -webkit-transition: background-color 0.15s;
    transition: background-color 0.15s;
    position: relative;
    box-shadow: inset 0 0 0 1px #d9dbe0
}

.SnippetCode .SnippetCode-wrapper .code-filler .Icon {
    -webkit-transition: color 0.15s;
    transition: color 0.15s;
    font-size: 1rem;
    display: block
}

.SnippetCode .SnippetCode-wrapper .code-filler:hover {
    background-color: #F0F2F5
}

.SnippetCode .SnippetCode-wrapper .code-filler:hover .Icon {
    color: #505BE4
}

.SnippetCode .SnippetCode-wrapper .found {
    background-color: #FFF4B5;
    font-weight: 500
}

.SnippetCode {
    position: relative
}

.SnippetCode .SnippetCode-wrapper {
    padding: 12px 8px 5px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-transition: padding-bottom 0.2s;
    transition: padding-bottom 0.2s
}

.SnippetCode .SnippetCode-wrapper.right-buffer:after {
    content: '';
    padding: 5px
}

.SnippetCode .SnippetCode-wrapper::-webkit-scrollbar {
    height: 12px
}

.SnippetCode .SnippetCode-wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.08);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    visibility: hidden;
    background-clip: padding-box;
    border: 3px solid transparent
}

.SnippetCode .SnippetCode-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,0.13)
}

.SnippetCode .SnippetCode-wrapper:hover::-webkit-scrollbar-thumb,.SnippetCode .SnippetCode-wrapper.visible::-webkit-scrollbar-thumb {
    visibility: visible
}

@media only screen and (min-width: 1720px) {
    .SnippetCode .SnippetCode-wrapper {
        padding:15px 10px 5px
    }
}

.SnippetCode .SnippetCode-wrapper pre {
    font-family: "Menlo",Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.45;
    -webkit-transition: font-size 0.3s;
    transition: font-size 0.3s
}

@media only screen and (min-width: 1720px) {
    .SnippetCode .SnippetCode-wrapper pre {
        font-size:1.4rem
    }
}

.SnippetCode .SnippetCode-wrapper pre>span {
    display: block
}

.SnippetCode .SnippetCode-wrapper .PredictionHint,.SnippetCode .SnippetCode-wrapper .code-tag {
    padding: 1px 2px;
    cursor: pointer
}

.SnippetCode .SnippetCode-wrapper .PredictionHint:hover,.SnippetCode .SnippetCode-wrapper .PredictionHint.active,.SnippetCode .SnippetCode-wrapper .code-tag:hover,.SnippetCode .SnippetCode-wrapper .code-tag.active {
    -webkit-border-radius: 2px;
    border-radius: 2px
}

.SnippetCode .SnippetCode-wrapper .PredictionHint {
    border-bottom: 1px solid transparent
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-1 {
    border-bottom-color: #55A8DD
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-1:hover,.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-1.active {
    background-color: #55A8DD;
    color: #fff;
    border-bottom-color: transparent
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-2 {
    border-bottom-color: #DC70B8
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-2:hover,.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-2.active {
    background-color: #DC70B8;
    color: #fff;
    border-bottom-color: transparent
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-3 {
    border-bottom-color: #905BCA
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-3:hover,.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-3.active {
    background-color: #905BCA;
    color: #fff;
    border-bottom-color: transparent
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-4 {
    border-bottom-color: #8BC2AE
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-4:hover,.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-4.active {
    background-color: #8BC2AE;
    color: #fff;
    border-bottom-color: transparent
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-5 {
    border-bottom-color: #E4AF61
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-5:hover,.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-5.active {
    background-color: #E4AF61;
    color: #fff;
    border-bottom-color: transparent
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-6 {
    border-bottom-color: #7A84D6
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-6:hover,.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-6.active {
    background-color: #7A84D6;
    color: #fff;
    border-bottom-color: transparent
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-7 {
    border-bottom-color: #8BBCC2
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-7:hover,.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-7.active {
    background-color: #8BBCC2;
    color: #fff;
    border-bottom-color: transparent
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-8 {
    border-bottom-color: #55A8DD
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-8:hover,.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-8.active {
    background-color: #55A8DD;
    color: #fff;
    border-bottom-color: transparent
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-9 {
    border-bottom-color: #DC70B8
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-9:hover,.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-9.active {
    background-color: #DC70B8;
    color: #fff;
    border-bottom-color: transparent
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-10 {
    border-bottom-color: #905BCA
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-10:hover,.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-10.active {
    background-color: #905BCA;
    color: #fff;
    border-bottom-color: transparent
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-11 {
    border-bottom-color: #8BC2AE
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-11:hover,.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-11.active {
    background-color: #8BC2AE;
    color: #fff;
    border-bottom-color: transparent
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-12 {
    border-bottom-color: #E4AF61
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-12:hover,.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-12.active {
    background-color: #E4AF61;
    color: #fff;
    border-bottom-color: transparent
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-13 {
    border-bottom-color: #7A84D6
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-13:hover,.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-13.active {
    background-color: #7A84D6;
    color: #fff;
    border-bottom-color: transparent
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-14 {
    border-bottom-color: #8BBCC2
}

.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-14:hover,.SnippetCode .SnippetCode-wrapper .PredictionHint.prediction-14.active {
    background-color: #8BBCC2;
    color: #fff;
    border-bottom-color: transparent
}

.SnippetCode .SnippetCode-wrapper .code-tag {
    font-weight: 600
}

.SnippetCode .SnippetCode-wrapper .context-related {
    font-weight: normal;
    text-decoration: underline
}

.SnippetCode .SnippetCode-wrapper .focal,.SnippetCode .SnippetCode-wrapper .must {
    color: #21252B;
    font-weight: bold
}

.SnippetCode .SnippetCode-wrapper .focal:hover,.SnippetCode .SnippetCode-wrapper .focal.active,.SnippetCode .SnippetCode-wrapper .must:hover,.SnippetCode .SnippetCode-wrapper .must.active {
    background: rgba(80,91,228,0.15)
}

.SnippetCode .SnippetCode-wrapper .focal-related,.SnippetCode .SnippetCode-wrapper .context {
    color: #6B727E
}

.SnippetCode .SnippetCode-wrapper .focal-related:hover,.SnippetCode .SnippetCode-wrapper .focal-related.active,.SnippetCode .SnippetCode-wrapper .context:hover,.SnippetCode .SnippetCode-wrapper .context.active {
    background: rgba(80,91,228,0.15)
}

.SnippetCode .SnippetCode-wrapper .code-filler {
    display: table;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    cursor: pointer;
    margin: 1px 3px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    line-height: 1;
    background-color: #F3F4F6;
    -webkit-transition: background-color 0.15s;
    transition: background-color 0.15s;
    position: relative;
    box-shadow: inset 0 0 0 1px #d9dbe0
}

.SnippetCode .SnippetCode-wrapper .code-filler .Icon {
    -webkit-transition: color 0.15s;
    transition: color 0.15s;
    font-size: 1rem;
    display: block
}

.SnippetCode .SnippetCode-wrapper .code-filler:hover {
    background-color: #F0F2F5
}

.SnippetCode .SnippetCode-wrapper .code-filler:hover .Icon {
    color: #505BE4
}

.SnippetCode .SnippetCode-wrapper .found {
    background-color: #FFF4B5;
    font-weight: 500
}

.SnippetCode .line-num {
    display: inline-block;
    vertical-align: middle;
    font-family: "Quicksand",sans-serif;
    font-size: 60%;
    opacity: .35;
    font-style: normal;
    width: 16px;
    text-align: center;
    margin-right: 15px
}

.SnippetCode .line-num::before {
    content: attr(data-pseudo-content);
    color: #fff;
}

.SnippetCode .line-num.table {
    display: table;
}

@-webkit-keyframes borderDown {
    from {
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        transform: scale(1, 0)
    }

    to {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}

@-moz-keyframes borderDown {
    from {
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        transform: scale(1, 0)
    }

    to {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}

@keyframes borderDown {
    from {
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        transform: scale(1, 0)
    }

    to {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1)
    }
}

.SnippetCode .token-keyword,.SnippetCode .token-boolean {
    font-weight: bold
}

.SnippetCode .token-keyword {
    color: #098081
}

.SnippetCode .token-boolean {
    color: #A00000
}

.SnippetCode .token-string {
    color: #E00640
}

.SnippetCode .token-comment {
    color: #979991;
    font-style: italic;
    font-family: "Pontano Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif
}

.SnippetCode .token-number {
    color: #606CA6
}

.dark .SnippetCode .token-keyword {
    color: #DC686F
}

.dark .SnippetCode .token-boolean {
    color: #D29B5E
}

.dark .SnippetCode .token-string {
    color: #97C16F
}

.dark .SnippetCode .token-comment {
    color: #606776
}

.dark .SnippetCode .token-number {
    color: #C774DF
}