@import url('https://raw.githubusercontent.com/skkuull/h1_dump/main/h1_dump/fonts/fira_mono_bold.ttf');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}


header {
    backdrop-filter: blur(25px);
    background-color: rgba(255, 255, 255, 0.078);
    width: 100%;
    height: 7%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px ;
}

.logo{
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color: #5a83f2;
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/background.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.maindl-btn {
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.maindl-btn:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.docs-btn {
    color: #fff;
    background-color: #3a6cf4ac;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 10px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.docs-btn:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.main-btn {
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 10px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    background-size: 800% 800%;
    animation: simpleanim 10s infinite;
}

.main-btn:hover {

    /* transform: scale(1.1); */
}

@keyframes simpleanim {
    0% {background-color: rgba(255, 191, 0, 0.9);}
    15% {background-color: rgba(221, 255, 0, 0.925);}
    25%{background-color:rgba(144, 222, 0, 0.932);}
    35%{background-color:rgba(13, 225, 55, 0.89);}
    55%{background-color:rgba(20, 232, 151, 0.897);}
    65%{background-color:rgba(22, 182, 222, 0.877);}
    75%{background-color:rgba(22, 222, 219, 0.904);}
    85% {background-color: rgba(255, 153, 0, 0.884);}
    100% {background-color: rgba(255, 191, 0, 0.918);}
}

.footer .social-icons a:hover{
    font-size: 1.3em;
    padding-left: 0 20px 0 0;

    color: rgba(255, 255, 255, 0.544);
}

.social-icons a {
    color: rgba(255, 255, 255, 0.749);
    font-size: 1.7em;
    padding-right: 30px;
}

.social-icons a:hover {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}

/* color: rgba(255, 255, 255, 0.544); */

.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.cards {
    background-color: #000000;
}

.card {
    background-color: #0b0c0c;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    border: 1px solid #fff;

    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card .icon {
    color: #ffffff;
    font-size: 8em;
    text-align: center;
}

.card p {
    color: #fff;
}

.info {
    text-align: center;
}

.info h3{
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.features {
    background-color: #000017;
}

.features .content{
    margin-top: 30px;
}

.features-card {
    background-color: #181A1B;
    border: 1px solid rgba(255, 255, 255, 0.569);
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.features-card:hover {
   transform: scale(1.1);
}

.features-card:hover .features-image {
    opacity: 0.9;
 }

.features-image img{
    width: 100%
}

.features-info {
    padding: 1em;
}

.features-category {
    font-size: 0.8em;
    color: #000;
}

.features-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #3a6cf4;
}

.more-details:hover {
    color: #658efe;
}

.contact .icon{
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1.5em;
}

.footer {
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-desc {
    font-size: 0.8em;
    font-weight: 400;
    padding-left: 50px;
}

.footer-title span {
    color: #3a6cf4;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding-left: 0 20px 0 0;
    
}

@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
}