@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

@font-face {
    font-family: fira_mono_bold;
    src: url(https://raw.githubusercontent.com/skkuull/h1_dump/main/h1_dump/fonts/fira_mono_bold.ttf);
}

@font-face {
    font-family: fira_mono_regular;
    src: url(https://raw.githubusercontent.com/skkuull/h1_dump/main/h1_dump/fonts/fira_mono_regular.ttf);
}

/* Credits to Evan/Eve or https://emosewaj.eu/status */
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: auto;
        height: 100%;
    }
}

body {
    background-attachment: fixed;
    margin: 0;
}

header {
    backdrop-filter: blur(25px);
    background-color: rgba(255, 255, 255, 0.078);
    width: 100%;
    height: 7%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px ;
}

.logo{
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    color: #bcbcbc;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color: #26a34b;
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    /* background-color: rgb(18, 18, 18); */
    /* background-image: url(./images/smoke.png); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    /* font-family: fira_mono_bold; */
    display: inline-block;
    margin-top: 10px;
    color: #49E879;
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.maindl-btn {
    color: #fff;
    background-color: #26a34b;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 8px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.maindl-btn:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.docs-btn {
    color: #fff;
    background-color: #54cf79c1;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 8px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.docs-btn:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.main-btn {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 10px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    background-size: 800% 800%;
    animation: colorRotate 6s linear 0s infinite;
}

#shadowBox {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.2);
    border: 3px solid;
}
  
@keyframes colorRotate {
    from {
        background-color: #a8ff66;
    }
    10% {
        background-color: #92ff33;
    }
    50% {
        background-color: #00ff00;
    }
    75% {
        background-color: #92ff33;
    }
    100% {
        background-color: #a8ff66;
    }
}

.footer .social-icons a:hover{
    font-size: 1.3em;
    padding-left: 0 20px 0 0;

    color: rgba(255, 255, 255, 0.544);
}

.social-icons a {
    color: rgba(255, 255, 255, 0.749);
    font-size: 1.7em;
    padding-right: 30px;
}

.social-icons a:hover {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}

/* color: rgba(255, 255, 255, 0.544); */

.title {
    display: flex;
    justify-content: center;
    color: #26a34b;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.faq {
    background-color: #0e0e0e;
}

.donate {
    background-color: #0e0e0e;
}

.errors {
    background-color: #0e0e0e;
}

.cmd {
    background-color: #cbcbcb;
}

.form-input {
    margin-bottom: 15px;
}

.form__inner label {
    font-size: 16px;
    line-height: 25px;
    padding-left: 21ch;
    max-width: 100%;
    margin-bottom: 5px;
    color: #fff;
    display: inline-block;
    
}

.form__inner input[type="text"],
.form__inner textarea {
  outline: none;
  width: 55%;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
  color: #333;
  padding: 12px 20px;
  font-family: inherit;
  text-align: left;
  -webkit-appearance: none;
  background: rgba(255, 154, 66, 0.02);
  display: grid;
  align-items: center;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.script {
    backdrop-filter: blur(10px);
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    border: 1px solid #fff;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
    background: inherit;
    box-shadow: inset 0 0 2000px rgba(200, 200, 200, 0.272);
}

.script p {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    color: #fff;
}

.cards {
    background-color: #040404;
}

.card {
    width: 21.25em;
    border-radius: 10px;
    border: 1px solid #303436;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
    background: inherit;
}

.card:before {
    /* filter: blur(10px); */
    background: inherit;
}

.card .icon {
    color: #ffffff;
    font-size: 8em;
    text-align: center;
}

.card p {
    color: #fff;
}

.info {
    text-align: center;
}

.info h3{
    color: #49E879;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.features {
    background-color: #0E0F0F;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.features span {
    font-family: fira_mono_regular;
    color: #fff;
}

.features p {
    color: #fff;
    margin-top: 1ch;
}

.features .content{
    margin-top: 30px;
}

.features-card {
    background-color: #131516;
    border: 1px solid #303436;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.features-card:hover {
    transform: scale(1.2);
}

.features-card:hover .features-image {
    opacity: 0.9;
 }

.features-image img{
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.features-info {
    padding: 1em;
}

.features-category {
    font-size: 0.8em;
    color: #000;
}

.features-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    /* margin-top: 10px; */
}

.more-details {
    text-decoration: none;
    color: #49E879e3;
}

.more-details:hover {
    color: #49E879;
}

.contact .icon{
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1.5em;
}

.footer {
    backdrop-filter: blur(10px);
    background-color: rgb(18, 18, 18);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: 10px;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-desc {
    font-size: 0.8em;
    font-weight: 400;
    padding-left: 50px;
}

.footer-title span {
    color: #3a6cf4;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding-left: 0 20px 0 0;
    
}

@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
}

/* Scroll shitter */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #cfcfcf;
    background-color: #333739;
}

::-webkit-scrollbar-thumb {
    background: #49E879; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #128d37; 
}